.add-new-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .ipt-wrapper {
        display: grid;
        grid-template-columns: 10% 90%;
        input, select {
            outline: none;
        }
    }
    .value-ipt {
        // justify-content: space-between;
        grid-template-columns: 80% 20%;
        align-items: center;
        &__icon {
            font-size: 2em;
            margin-right: 0.2em;
            &.positive {
                color: var(--income-color);
            }
            &.negative {
                color: var(--outcome-color);
            }
        }
        &__input {
            background-color: transparent;
            border: none;
            font-size: 2.3em;
            width: 70%;
            font-weight: bold;
            caret-color: transparent;

            &.positive {
                color: var(--income-color);
                &::placeholder{
                    color: var(--income-color);
                }
            }
            &.negative {
                color: var(--outcome-color);
                &::placeholder{
                    color: var(--outcome-color);
                }
            }
            &:focus {
                border-bottom: 2px solid var(--font-color);
            }
        }
        &__checkbox {
            color: white;
            display: flex;
            gap: 0.5em;
            font-size: 1.3em;
            input {
                width: 1.5em;
            }
        }
    }
    .description-ipt {
        color: gray;
        font-size: 1.5em;
        // gap: 0.5em;
        align-items: center;
        input {
            background-color: transparent;
            // width: 100%;
            border: 1px solid var(--font-color);
            font-size: 1.1em;
            padding: 0.2em 0.3em 0 0.3em;
            color: var(--font-color);
        }
    }
    .type-ipt {
        font-size: 1.2em;
        align-items: center;
        select {
            font-size: 1.3em;
            background-color: transparent;
            padding: 0.2em 0.3em 0 0.3em;
            border: 1px solid var(--font-color);
            color: white;
            option {
                color: black;
            }
        }
    }
    .category-ipt {
        grid-template-columns: 10% 78% 12%;
        font-size: 1.2em;
        align-items: center;
        svg {
            font-size: 1.3em;
        }
        select {
            font-size: 1.3em;
            background-color: transparent;
            padding: 0.2em 0.3em 0 0.3em;
            border: 1px solid var(--font-color);
            color: white;
            option {
                color: black;
            }
        }
        button {
            height: 80%;
            width: 70%;
            justify-self: flex-end;
            align-self: center;
            color: var(--font-color);
            background-color: transparent;
            border: 2px solid var(--font-color) ;
            border-radius: 50%;
        }
        & .hide {
            display: none;
        }
    }
    .wallet-ipt {
        font-size: 1.2em;
        align-items: center;
        &__icon {
            font-size: 1.3em;
            color: gray;
        }
        select {
            font-size: 1.3em;
            background-color: transparent;
            padding: 0.2em 0.3em 0 0.3em;
            border: 1px solid var(--font-color);
            color: white;
            option {
                color: black;
            }
        }
    }
    .date-ipt {
        grid-template-columns: 10% 60% 30%;
        align-items: center;
        svg {
            font-size: 1.5em;
            color: gray;
            align-self: center;
            // justify-self: center;
        }
        &__date {
            flex-direction: row-reverse;
            font-size: 1.5em;
            width: fit-content;
            background-color: transparent;
            border: 1px solid var(--font-color);
            color: var(--font-color);
            gap: 0.5em;
            &::-webkit-calendar-picker-indicator {
                display: none;
                font-size: 1.6em;
                padding: 0;
                margin: 0;
                filter:(invert(0.6));
            }
        }
        &__checkbox {
            color: white;
            display: flex;
            gap: 0.5em;
            font-size: 1em;
            text-align: right;
            justify-self: flex-end;
            input {
                width: 1.5em;
            }
        }
    }
    .submit-btn {
        background-color: var(--font-color);
        border: none;
        font-size: 1.3em;
        width: fit-content;
        align-self: center;
        padding: 0.2em 0.5em;
        border-radius: 2em;
        margin-top: 1em;
    }
}